<!-- 

Copyright 2020, Raging Goblin <https://raginggoblin.wordpress.com/>

This file is part of MiWakeUpLight.

 MiWakeUpLight is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 MiWakeUpLight is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with MiWakeUpLight.  If not, see <http://www.gnu.org/licenses/>.

 -->

<div id="content" style="display: flex; flex-direction: column; width: 100%; height: 100vh;">

    <div id="row1"
         style="display: flex; flex-direction: row; align-items: center; justify-content: space-around; width: 100%; height: 30vh;">

        <button type="button" class="btn btn-primary" ng-click="controller.down()">
            <svg class="bi bi-arrow-down" width="5em" height="5em" viewBox="0 0 20 20" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M6.646 11.646a.5.5 0 01.708 0L10 14.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z"
                      clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M10 4.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z"
                      clip-rule="evenodd"/>
            </svg>
        </button>

        <svg class="bi bi-brightness-high" width="5em" height="5em" viewBox="0 0 20 20" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M10 13a3 3 0 100-6 3 3 0 000 6zm0 1a4 4 0 100-8 4 4 0 000 8zm0-12a.5.5 0 01.5.5v2a.5.5 0 01-1 0v-2A.5.5 0 0110 2zm0 13a.5.5 0 01.5.5v2a.5.5 0 01-1 0v-2a.5.5 0 01.5-.5zm8-5a.5.5 0 01-.5.5h-2a.5.5 0 010-1h2a.5.5 0 01.5.5zM5 10a.5.5 0 01-.5.5h-2a.5.5 0 010-1h2a.5.5 0 01.5.5zm10.657-5.657a.5.5 0 010 .707l-1.414 1.414a.5.5 0 11-.707-.707l1.414-1.414a.5.5 0 01.707 0zm-9.193 9.193a.5.5 0 010 .707L5.05 15.657a.5.5 0 01-.707-.707l1.414-1.414a.5.5 0 01.707 0zm9.193 2.121a.5.5 0 01-.707 0l-1.414-1.414a.5.5 0 01.707-.707l1.414 1.414a.5.5 0 010 .707zM6.464 6.464a.5.5 0 01-.707 0L4.343 5.05a.5.5 0 01.707-.707l1.414 1.414a.5.5 0 010 .707z"
                  clip-rule="evenodd"/>
        </svg>

        <button type="button" class="btn btn-primary" ng-click="controller.up()">
            <svg class="bi bi-arrow-up" width="5em" height="5em" viewBox="0 0 20 20" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 5.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V6a.5.5 0 01.5-.5z"
                      clip-rule="evenodd"/>
                <path fill-rule="evenodd"
                      d="M9.646 4.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L10 5.707 7.354 8.354a.5.5 0 11-.708-.708l3-3z"
                      clip-rule="evenodd"/>
            </svg>
        </button>
    </div>

    <div id="row2"
         style="display: flex; flex-direction: row; align-items: center; justify-content: space-around; width: 100%; height: 50vh;">
        <button type="button" class="btn btn-primary" ng-click="controller.cooler()">
            <svg class="bi bi-arrow-down" width="5em" height="5em" viewBox="0 0 20 20" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M6.646 11.646a.5.5 0 01.708 0L10 14.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z"
                      clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M10 4.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z"
                      clip-rule="evenodd"/>
            </svg>
        </button>

        <svg class="bi bi-brush" width="5em" height="5em" viewBox="0 0 20 20" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M17.213 3.018a.572.572 0 01.755.05.57.57 0 01.058.746c-.941 1.268-3.982 5.293-6.426 7.736a12.89 12.89 0 01-1.952 1.596c-.508.339-1.167.234-1.599-.197-.416-.416-.53-1.047-.213-1.543.347-.542.888-1.273 1.643-1.977 2.521-2.35 6.476-5.44 7.734-6.411z"/>
            <path d="M9 14a2 2 0 01-2 2c-1 0-2 0-3.5-.5s.5-1 1-1.5 1.395-2 2.5-2a2 2 0 012 2z"/>
        </svg>

        <button type="button" class="btn btn-primary" ng-click="controller.warmer()">
            <svg class="bi bi-arrow-up" width="5em" height="5em" viewBox="0 0 20 20" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 5.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V6a.5.5 0 01.5-.5z"
                      clip-rule="evenodd"/>
                <path fill-rule="evenodd"
                      d="M9.646 4.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L10 5.707 7.354 8.354a.5.5 0 11-.708-.708l3-3z"
                      clip-rule="evenodd"/>
            </svg>
        </button>
    </div>

    <div class="container-fluid alert-container">
        <div uib-alert ng-if="controller.errorMessage" class="alert alert-danger">
            {{controller.errorMessage}}
        </div>
    </div>

</div>
