<!-- 

Copyright 2017, Raging Goblin <https://raginggoblin.wordpress.com/>

This file is part of MiWakeUpLight.

 MiWakeUpLight is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 MiWakeUpLight is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with MiWakeUpLight.  If not, see <http://www.gnu.org/licenses/>.

 -->

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #1c4365;">
	<div class="container-fluid">
		<a class="brand navbar-brand" href="#/"><div>&nbsp;<img alt="Logo" src="/img/MiWakeUpLight.png">&nbsp;&nbsp;&nbsp;MiWakeUpLight&nbsp;&nbsp;</div></a>
		<button aria-label="Home" type="button" class="btn btn-primary navbar-btn button-right" ng-click="controller.goHome()"><span class="glyphicon glyphicon-home large" aria-hidden="true"></span></button>
	</div>
</nav>

<div class="container-fluid">
	<div class="panel panel-default">
		<div class="panel-body">
		
			<div class="form-group">
				<label for="time">Time</label>
				<span id="time" uib-timepicker ng-model="controller.time" show-meridian="false"></span>
			</div>
			<div class="form-group">
				<label for="duration">Duration (min)</label>
				<input ng-model="controller.duration" type="number" ng-change="controller.saveData()" ng-min="1" ng-max="60" class="form-control schedule-input">
			</div>
			<br />
			<div class="form-group">
				<label for="duration">Daylight length (min)</label>
				<input ng-model="controller.dayLength" type="number" ng-change="controller.saveData()" ng-min="1" ng-max="240" class="form-control schedule-input">
			</div>
			<br />
			<div class="form-group">
				<label>Days active</label>
	  		  	<div ng-repeat="day in controller.days">
	  		  		<div class="checkbox">
	  					<label><input type="checkbox" ng-model="day.active" ng-change="controller.saveData()">{{day.label}}</label>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="container-fluid alert-container">
	<div uib-alert ng-if="controller.errorMessage" class="alert alert-danger">
		{{controller.errorMessage}}
	</div>
</div>
