<!-- 

Copyright 2017, Raging Goblin <https://raginggoblin.wordpress.com/>

This file is part of MiWakeUpLight.

 MiWakeUpLight is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 MiWakeUpLight is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with MiWakeUpLight.  If not, see <http://www.gnu.org/licenses/>.

 -->

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #1c4365;">
	<div class="container-fluid">
		<a class="brand navbar-brand" href="#/"><div>&nbsp;<img alt="Logo" src="/img/MiWakeUpLight.png">&nbsp;&nbsp;&nbsp;MiWakeUpLight&nbsp;&nbsp;</div></a>
		<button type="button" class="btn btn-primary navbar-btn button-right" ng-click="controller.createNewSchedule()" aria-label="Add schedule"><span class="glyphicon glyphicon-plus large" aria-hidden="true"></span></button>
	</div>
</nav>

<div class="container-fluid">

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Active</th>
				<th>Time</th>
				<th>Days active</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="schedule in controller.wakeupSchedules">
				<td><div><label>&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="schedule.active" ng-change="controller.toggleActive(schedule)"></label></div>
				<td class="hand" ng-class="{'text-danger': schedule.overlap}" ng-click="controller.toSchedule(schedule.id)">{{ schedule.time | date:'H:mm' : 'UTC' }}</td>
				<td class="hand" ng-click="controller.toSchedule(schedule.id)">{{ schedule.daysActive | daysformatter }}</td>
				<td class="text-right"><button class="btn btn-danger" ng-click="controller.deleteSchedule(schedule.id)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
			</tr>
		</tbody>
	</table>
	
	<table class="table" ng-if="controller.firstWakeup">
		<thead>
			<tr><th></th></tr>
		</thead>
		<tbody>
			<tr>
				<td><span class="timelabel">Next sunrise: </span><br /><span>{{ controller.firstWakeup.first | date:'EEE dd MMMM yyyy H:mm' }} - {{ controller.firstWakeup.second | date:'H:mm' }}</span></td>
			<tr>
		</tbody>
	</table>

</div>

<div class="container-fluid alert-container">
	<div uib-alert ng-if="controller.areSchedulesOverlapping()" class="alert alert-danger">
		Some schedules are overlapping!<br /> 
		This can lead to undesired effects.
	</div>
</div>

<div class="container-fluid alert-container">
	<div uib-alert ng-if="controller.errorMessage" class="alert alert-danger">
		{{controller.errorMessage}}
	</div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom" style="background-color: #1c4365;">
	<div class="container-fluid">
		<span class="navbar-brand brand">Lampcontrol&nbsp;&nbsp;</span>
		<span class="control-buttons">
			<button type="button" class="btn btn-warning navbar-btn" ng-click="controller.gotoDirectControl()" aria-label="Turn light higher"><span class="glyphicon glyphicon-move medium" aria-hidden="true"></span></button>
			<button type="button" class="btn btn-warning navbar-btn" ng-click="controller.turnUp()" aria-label="Turn light higher"><span class="glyphicon glyphicon-chevron-up medium" aria-hidden="true"></span></button>
			<button type="button" class="btn btn-warning navbar-btn" ng-click="controller.turnDown()" aria-label="Turn light lower"><span class="glyphicon glyphicon-chevron-down medium" aria-hidden="true"></span></button>
			<button type="button" class="btn btn-warning navbar-btn" ng-click="controller.turnCooler()" aria-label="Turn light cooler"><span class="glyphicon glyphicon-chevron-left medium" aria-hidden="true"></span></button>
			<button type="button" class="btn btn-warning navbar-btn" ng-click="controller.turnWarmer()" aria-label="Turn light warmer"><span class="glyphicon glyphicon-chevron-right medium" aria-hidden="true"></span></button>
			<button type="button" class="btn btn-warning navbar-btn" ng-click="controller.switchOn()" aria-label="Turn light on"><span class="glyphicon glyphicon-eye-open medium" aria-hidden="true"></span></button>
			<button type="button" class="btn btn-warning navbar-btn" ng-click="controller.switchOff()" aria-label="Turn light off"><span class="glyphicon glyphicon-eye-close medium" aria-hidden="true"></span></button>
		</span>
	</div>
</nav>
